body {
  margin: 30px;
  background-color: lightgreen
}

.main-title {
  color: darkslateblue;
  text-decoration: underline;
  text-align: center;
}

h2 {
  color: darkgreen
}

.image {
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  border-width: 20px;
}

p,
li {
  font-size: 20px;
}

h1 {
  text-align: center;
}